header {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  padding: 2px;
}

header > img {
  width: 70px;
  margin-right: 5px;
}

header > h1 {
  font-size: 1rem;
  font-weight: 500;
}

.marker {
  height: 20px;
  margin-right: 5px;
}

/* CARD LAYOUT */
article {
  display: flex;
  align-items: flex-start; /* Align image & text from top */
  gap: 20px;
  margin: 20px 0;
}

.main-img-container {
  width: 325px;
  height: 178px;
  flex-shrink: 0; /* Prevent image from shrinking */
}

.fuji {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.text {
  margin-left: 10px;
}

span,
a {
  display: inline-block;
  margin-top: 8px;
}